UseTab: Always
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8
BreakBeforeBraces: Allman
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true # this breaks things even in 13.0 :(
AlignTrailingComments: true
AlignOperands: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
PointerAlignment: Right
# DanglingParenthesis: true # https://reviews.llvm.org/D33029
