UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
# DanglingParenthesis: true # https://reviews.llvm.org/D33029